
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

a{
  text-decoration: underline;
  color: rgb(148, 148, 148);

}

.navbar{
  background-color: rgb(227, 95, 95);
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 8px;
  height: 60px;
  
}

.navbar h1{
  color: whitesmoke;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  gap: 32px;
  padding: 40px;
}

.card--location{
  display: flex;
  gap:8px;
  
  font-size: 20px;
  
}

.card--location img{
  height: 24px;
  width: 24px;
}

.card--left img{
  height: 200px;
}

.card--right{
  max-width: 65%;
}

.card--title{
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 30px;
}

.card--text{
  width: 50px;
}