
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.navbar{
  background-color: rgb(227, 95, 95);
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 8px;
  height: 60px;
  
}

.navbar h1{
  color: whitesmoke;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;;
}